[gcode_macro PLA_PREWARMUP]
gcode:
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=55
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    
[gcode_macro PLA_CHANGE_FILAMENT]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=180
    G1 Z65 F1500
    G0 X125 Y125 F18000

[gcode_macro ABS_PREWARMUP]
gcode:
    SET_FAN_SPEED FAN=BedFans SPEED=0
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    
[gcode_macro ABS_CHANGE_FILAMENT]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=240
    G1 Z65 F1500
    G0 X125 Y125 F18000

#[gcode_macro ABS_COOLOFF]
#gcode:
    #SET_FAN_SPEED FAN=BedFans SPEED=1
    #SET_FAN_SPEED FAN=exhaust_fan SPEED=1

[gcode_macro MANUAL_CLEAN_EXTRUDER]
gcode:
    G1 Z65 F1500
    G0 X125 Y0 F18000

[gcode_macro ZERO_ZERO]
gcode:
    G1 Z20 F1500
    G0 X0 Y0 F18000

[gcode_macro CENTER]
gcode:
    G1 Z20 F1500
    G0 X125 Y125 F18000

[gcode_macro PARK]
gcode:
    G1 Z65 F1500
    G0 X245 Y245 F18000

[output_pin beeper]
pin: PG14              # Replace with your chosen pin!
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001    # 2kHz tone, good for passive buzzers

[gcode_macro BEEP]
gcode:
    # Parameters
    {% set i = params.I|default(1)|int %}           ; Iterations (number of times to beep).
    {% set dur = params.DUR|default(100)|int %}     ; Duration/wait of each beep in ms. Default 100ms.
    {% set freq = params.FREQ|default(2000)|int %}  ; Frequency in Hz. Default 2kHz.

    {% for iteration in range(i|int) %}
        SET_PIN PIN=beeper VALUE=0.8 CYCLE_TIME={ 1.0/freq if freq > 0 else 1 }
        G4 P{dur}
        SET_PIN PIN=beeper VALUE=0
        G4 P{dur}
    {% endfor %}

; Soft double beep - good for non-urgent info (e.g. print complete)
[gcode_macro ALERT_INFO]
gcode:
    BEEP I=2 DUR=100 FREQ=500

; Triple mid-tone beep - good for warnings (e.g. filament runout)
[gcode_macro ALERT_WARNING]
gcode:
    BEEP I=10 DUR=200 FREQ=12000