[gcode_macro PLA_PREWARMUP]
gcode:
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=55
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    
[gcode_macro PLA_CHANGE_FILAMENT]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=180
    G1 Z65 F1500
    G0 X125 Y125 F18000

[gcode_macro ABS_PREWARMUP]
gcode:
    SET_FAN_SPEED FAN=BedFans SPEED=0
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=110
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150
    
[gcode_macro ABS_CHANGE_FILAMENT]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=240
    G1 Z65 F1500
    G0 X125 Y125 F18000

#[gcode_macro ABS_COOLOFF]
#gcode:
    #SET_FAN_SPEED FAN=BedFans SPEED=1
    #SET_FAN_SPEED FAN=exhaust_fan SPEED=1

[gcode_macro MANUAL_CLEAN_EXTRUDER]
gcode:
    G1 Z65 F1500
    G0 X125 Y0 F18000

[gcode_macro ZERO_ZERO]
gcode:
    G1 Z20 F1500
    G0 X0 Y0 F18000

[gcode_macro CENTER]
gcode:
    G1 Z20 F1500
    G0 X125 Y125 F18000

[gcode_macro PARK]
gcode:
    G1 Z65 F1500
    G0 X245 Y245 F18000

[output_pin beeper]
pin: PG14              # Replace with your chosen pin!
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.0005    # 2kHz tone, good for passive buzzers

[delayed_gcode beep_on]
gcode:
    SET_PIN PIN=beeper VALUE=0.5
    UPDATE_DELAYED_GCODE ID=beep_off DURATION=0.5

[delayed_gcode beep_off]
gcode:
    SET_PIN PIN=beeper VALUE=0
    UPDATE_DELAYED_GCODE ID=beep_on DURATION=0.5

[gcode_macro BEEP_START]
gcode:
    UPDATE_DELAYED_GCODE ID=beep_on DURATION=0.1

[gcode_macro BEEP_STOP]
gcode:
    UPDATE_DELAYED_GCODE ID=beep_on DURATION=0
    UPDATE_DELAYED_GCODE ID=beep_off DURATION=0
    SET_PIN PIN=beeper VALUE=0

